html {
    scroll-behavior: smooth;

}

body {
    background-color: black;

}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 5px;
    border: solid white 3px;
    margin: 20px;
    box-shadow: 10px 5px 5px purple;

}
.title-link h1{
    color: white;
}
header ul {
    display: flex;
    gap: 20px;
}

header li {
    background-color: white;
    border-radius: 20px;
    list-style-type: none;
    transition: all 0.5s;
    transform: scale(1.0);
}

header li:hover {
    background-color: rgb(13, 13, 13);
    transform: scale(1.1);
    
}
header li a:hover{
    color: white;
}

header a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px;


}

#firstSection {
    margin-top: 10px;
    border: solid white 3px;
    margin: 20px;
    display: flex;
    box-shadow: 10px 5px 5px purple;

}

.blockOne {
    align-items: center;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

.blockOne h2 {
    color: white;
    font-size: 30px;

}

.blockOne p {
    color: white;
    font-size: 15px;

}

footer {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    border: solid white 3px;
    margin: 20px;
    box-shadow: 10px 5px 5px purple;
    color: white;
    

}

footer h2 {
    text-align: center;


}

.contact {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    gap: 10px;
}

label {
    padding-bottom: 10px;
}

textarea {
    background-color: rgb(215, 211, 211);
    margin: auto;
    max-width: 90%;
    color: gray;
}

footer button {
    margin: auto;
    align-items: center;
}

.second {
    text-align: center;
    gap: 10px;
}

#box {
    text-align: start;
}




@media (max-width:769px) {
    header {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    

    nav {
        text-align: center;
    }

    header ul {
        flex-direction: column;
        gap: 20px;
        padding: 0;
    }


    #firstSection {
        flex-direction: column;
    }

    #firstSection img {
        width: 100%;
    }

    .blockOne { 
        text-align: center;
    }
    #photo {
        text-align: center;
    }

    footer {
        flex-direction: column;
        align-items: center;

    }

    #box {
        text-align: start;
    }



}